@layer reset {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: unset;
  }
  button,
  input,
  textarea,
  select {
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    /* display: block; */
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
:root {
  --primary-dark: #ff086b;
  --primary-light: #ff571e;
  --gradient-to-right: linear-gradient(to right, #ff571e, #ff086b);
  --gradient-to-bottom: linear-gradient(to bottom, #ff571e, #ff086b);
  --gradient-to-left: linear-gradient(to left, #ff571e, #ff086b);
  --text-dark: #161E31;
  --text-light: #A4A4A4;
  --white: #fff;
  --star-animation: sparkle 1.5s infinite;
  --header-font-size: 3rem;
  --btn-text-small: 0.9375rem;
  --btn-text-large: 1.5rem;
  --paragraph-text-large: 1.25rem;
  --paragraph-text-small: 0.9375rem;
  --font-family: "Inter Tight", sans-serif;
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 700;
}

body {
  font-family: var(--font-family);
  /* margin: 33px 192px 0px 192px; */
  padding: 2.0625rem 12rem 0 12rem;
  font-family: var(--font-family);
}

/* Start of Navagation */
nav {
  display: flex;
}

/* providing spacing for the GCIT logo */
.gcitlogo {
  flex: 1.5;
  margin-left: 2rem;
}

/* Providing spacings for the link*/
.nav_link_wrapper {
  flex: 2;
}

/* Arranging links in a Horizontal manner */
.nav_link_wrapper .link_list {
  display: flex;
  list-style: none;
  margin-top: 0.8125rem;
  gap: 2.75rem;
}

/* Styling the links within the list */
.nav_link_wrapper .link_list .nav_link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--text-dark);
}

.link_list .nav_link:hover,
.link_list .nav_link:focus-visible,
.link_list .nav_link:active {
  color: var(--primary-dark);
}
.nav_link_wrapper .link_list li .home_link {
  color: var(--primary-dark);
}
/* Navagation Ends here */

/* Main content of the page starts */
/* Styling the "SPARK "logo of the webpage */
.spark_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5.4094rem;
  flex-direction: column;
  gap: 1.472rem;
  font-size: 2.5rem;
}

/* Styling the student image of the body */

.std_image {
  position: relative;
  margin-top: 3.8125rem;
  min-height: 31.4375rem;
}

.std_image div img {
  position: absolute;
}

.std_image .stdimg1 img {
  left: 20.625rem;
  max-width: 28.25rem;
  height: 19.375rem;
}

.std_image .stdimg2 img {
  left: 10rem;
  top: 4.375rem;
  max-width: 10.125rem;
  height: 10.125rem;
}

.std_image .stdimg3 img {
  left: -0.9375rem;
  top: 11.25rem;
  max-width: 13.4375rem;
  height: 13.4375rem;
}

.std_image .stdimg4 img {
  left: 12.5rem;
  top: 15.9375rem;
  max-width: 13.4375rem;
  height: 13.4375rem;
}

.std_image .stdimg5 img {
  left: 26.25rem;
  top: 23.125rem;
}

.std_image .stdimg6 img {
  left: 36.25rem;
  top: 23.125rem;
}

.std_image .stdimg7 img {
  left: 44.0625rem;
  top: 15.9375rem;
  max-width: 13.4375rem;
  height: 13.4375rem;
}

.std_image .stdimg8 img {
  left: 57.5rem;
  top: 11.25rem;
  max-width: 13.4375rem;
  height: 13.4375rem;
}

.std_image .stdimg9 img {
  left: 49.375rem;
  top: 4.375rem;
  max-width: 10.125rem;
  height: 10.125rem;
}

.std_image .stars .star1 img {
  top: 21.25rem;
  left: 32.8125rem;
  height: 3.9375rem;
  max-width: 3.9375rem;
  animation: var(--star-animation);
}

.std_image .stars .star2 img {
  top: 19.6875rem;
  left: 31.5625rem;
  height: 2.375rem;
  max-width: 2.375rem;
  animation: var(--star-animation);
}

.std_image .stars .star3 img {
  top: 20.625rem;
  left: 35.625rem;
  height: 1.75rem;
  max-width: 1.75rem;
  animation: var(--star-animation);
}
@keyframes sparkle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.certification {
  margin-top: 5.625rem;
}

.card_text {
  text-align: center;
}

.card_text h3 {
  color: var(--primary-light);
  background: var(--white);
  font-size: var(--header-font-size);
  font-weight: var(--font-weight-medium);
  margin: 1.15rem;
  background-image: var(--gradient-to-right);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.card_text p {
  font-size: var(--paragraph-text-large);
  margin: 1.875rem;
  color: var(--text-dark);
  font-weight: var(--font-weight-medium);
  opacity: 50%;
}

.card_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.programme_wrapper {
  position: relative;
  max-width: 23.75rem;
}

.programme_wrapper .programme_img {
  max-width: 23.75rem;
  height: 27.25rem;
}

.programme_wrapper .arrow_img {
  position: absolute;
  right: 2.2925rem;
  bottom: 3.4875rem;
}

.programme_wrapper p {
  position: absolute;
  bottom: 3.125rem;
  left: 1.5625rem;
  max-width: 17.3125rem;
  color: var(--white);
  font-size: 2rem;
}
.lone-star{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.lone-star img{
  width: 3.875rem;
  height: 3.9375rem;
  animation: var(--star-animation);
}
.registration{
  margin-top: 2.125rem;
}
.registration h2{
  text-align: center;
  margin-bottom: 2.125rem;
  font-weight:var(--font-weight-medium);
  font-size: var(--header-font-size);
  color: var(--primary-light);
  background: var(--white);
  background-image: var(--gradient-to-right);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.registration .registration-form{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.division-line{
  background-image: var(--gradient-to-bottom);
  width: 1px;
  height: 160px;
  position: absolute;
  z-index: 1;
}
img .division-line-star{
  position: absolute;
  width: 2rem;
  height: 2.0625rem;
}
.registration .registration-form div{
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.registration .registration-form div .input-field{
  width: 21.875rem;
  height: 4.0625rem;
  border-radius: 1.25rem;
  padding-left: 2rem;
  border: 0.08rem solid #c5c5c5;
}
.name-field{
  position: relative;
}
.name-field .name{
  position: absolute;
  top: 1.25rem;
  left: 2.125rem;
  color: #8A8E97;
}
.name-field #name::placeholder{
  font-size: 0.7rem;
  top: 2.1875rem;
  position: absolute;
}

.registration .registration-form div .input-field ::placeholder{
  color: #8A8E97;
}

.Enroll{
  position: absolute;
  font-weight: 500;
  color: white;
  font-size: x-large;
  top: 16.5rem;
  left: 24rem;
  border-style: none;
  width: 350px;
  height: 65px;
  border-radius: 15px;
  background-image: var(--gradient-to-right);
}

.Know{
  position: absolute;
  margin-top: 250px;
}

.Bhutan{
  font-weight:var(--font-weight-medium);
  font-size: var(--header-font-size);
  color: var(--primary-light);
  background: var(--white);
  background-image: var(--gradient-to-right);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
  margin-left: 100px;
}

.text_know{
  margin-top: 15px;
  text-align: center;
  color: #8A8E97;
  font-size: 20px;
  margin-left: 100px;
  letter-spacing: 20%;
}
.know_bhutan_img{
  margin-top: 450px;
  display: flex;
  justify-content: center;
}

.know_bhutan_img .landscape{
  width: 365px;
  height: 233px;
  margin: 10px;
}

.star01{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 545px;
  animation: var(--star-animation);
  top: 2875px;
}

.star02{
  animation: var(--star-animation);
  position: absolute;
  right: 555px;
  width: 30px;
  height: 30px;
}

.foot{
  margin-top: 120px;
  margin-bottom: 50px;
}
.division-line01{
  background-image: var(--gradient-to-bottom);
  width: 1114px;
  height: 1px;
  position: absolute;
  z-index: 1;
}
.division-line-star01{
  margin: -31px 0 0 540px;
}
.text{
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}
.sideShit{
  margin-left: 275px;
  text-align: right;
  font-size: var(--paragraph-text-large);
  width: 306px;
  color: var(--text-dark);
}
.footHead{
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--primary-light);
  background: var(--white);
  background-image: var(--gradient-to-right);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.sideShit a{
  color: #161E31;
}